version: "3.9"

services:
  jbi_one:
    container_name: jbi_one
    build: .
    restart: unless-stopped
    ports:
      - "38291:38291"
    environment:
      FLASK_ENV: production
      PORT: 38291
      # optional database connection vars
      MYSQL_USERNAME: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_DBNAME: ${MYSQL_DBNAME}
      DOCKER_ENV: "true"
    volumes:
      # mounts your local code so you can edit without rebuilding
      - .:/app
    working_dir: /app
    command: python app.py
