<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
</head>
<body class="snippet-body">
<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
<div class="container">
<a class="navbar-brand" href="/">JBI Water <i class="fa-solid fa-water"></i></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/">Active Jobs</a>
</li>
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/engineers">Engineers</a>
</li>
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/sales">Sales</a>
</li>

</div>
</div>
</nav>
<div class="container-top-margin-50">
  <div class="container-fluid">
    {% block body %}{% endblock %}
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script>
      document.addEventListener("input", function (e) {
        if (e.target.tagName.toLowerCase() === "textarea") {
          e.target.style.height = "auto";
          e.target.style.height = (e.target.scrollHeight) + "px";
        }
      });
    </script>

  </body>
</html>
