<form action="/detail/{{ job_detail.job_id }}/edit_commission" method="POST">
  <h2 class="text-center">
    <button class="btn btn-outline-light" type="submit">Save</button>
    <button class="btn btn-outline-primary"
      type="button"
      onclick="window.location.href='/detail/{{ job_detail.job_id }}';"
    >
      Cancel
    </button>
    Commission Details
  </h2>
  <table class="table table-striped">
    <tbody>
      <tr class="row row-cols-2">
        <td style="text-align: right;">Purchase Amount</td>
            <td style="text-align: left;"><input style="width:100%;" class="textbox" type="text" name="purchase_amount" id="purchase_amount" value="{{ '%.2f'|format(parent_commission_id.purchase_amount) if parent_commission_id.purchase_amount is not none else '' }}"></td>
      </tr>
      <tr class="row row-cols-2">
        <td style="text-align: right;">Commission at Sale</td>
            <td style="text-align: left;"><input style="width:100%;" class="textbox" type="text" name="commission_at_sale" id="commission_at_sale" value="{{ '%.2f'|format(parent_commission_id.commission_at_sale) if parent_commission_id.commission_at_sale is not none else '' }}"></td>
      </tr>
      <tr class="row row-cols-2">
        <td style="text-align: right;">Notes</td>
        <td>
          <textarea
            name="notes"
            id="notes"
            rows="8"
            style="width:100%; color:#000; resize:vertical; white-space:pre-wrap;"
          >{{ parent_commission_id.notes if parent_commission_id.notes is not none else '' }}</textarea>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div class = "col-12">
        <form action="/detail/{{ job_detail.job_id }}/commission_line" method="POST">
          <table>
            <tbody>
              <tr>
                <th>Commission Amount</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
              <tr>
                <td><input style="width:100%;" type="text" name="commission_amount" id="commission_amount"></td>
                <td><input style="width:100%;" type="date" name="date" id="date"></td>
                <td style="max-width:50px">
          <button class="btn btn-outline-light" type="submit" value="Add Commission Line">Add</button>
          </tr>
          </tbody>
          </table>
        </form>


    {% if commission_lines_for_job|length < 1 %}
    <h4 style="text-align: center">There are no commissions.</h4>
{% else %}
    <table class="table table-striped">
        <tr>
            <th>Commission Amount</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for c in commission_lines_for_job %}
        <tr>
            <td>{{ c.commission_amount }}</td>
            <td>{{ c.date_commission }}</td>
            <td>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-outline-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ c.commission_id }}">
                        Delete
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
    </table>
  </div>
