{% extends 'base.html' %}

{% block head %}
<title>Job Detail - {{job_detail.project_name}}</title>
{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center align-items-center gap-3 my-3">{{ job_detail.project_name }}</h1>
{% include 'detail_tiles.html' with context %}
<div class="row">
  <div class="col-12 col-md-8 d-flex flex-column">
    {% include 'job_detail.html' %}
  </div>
  <div class="col-12 col-md-4 d-flex flex-column justify-content-start">
    <div class="mb-3">
      {% include 'engineer.html' %}
    </div>
    <div>
      {% include 'sales.html' %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-12 d-flex flex-column justify-content-start">
    <div class="mb-3">
      {% include 'judy_task.html' %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-12 d-flex flex-column justify-content-start">
    <div class="mb-3">
      {% include 'commission.html' %}
    </div>
  </div>
</div>
{% endblock %}
