{% extends 'base.html' %}

{% block head %}
<title>Engineers</title>
{% endblock %}

{% block body %}

    <h1 style="text-align: center">JBI Water - Engineers</h1>

    <div class="row">
    <div class = "col-12">
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="col-auto">
            <form action="/engineers" method="POST">
              <table class="table table-borderless align-middle">
                <thead>
                  <tr>
                    <th>Engineer Name</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input class="form-control" type="text" name="engineer_name" id="engineer_name" required></td>
                    <td><input class="form-control" type="text" name="engineer_contact" id="engineer_contact"></td>
                    <td><input class="form-control" type="text" name="engineer_phone" id="engineer_phone"></td>
                    <td>
                      <input class="btn btn-outline-primary" type="submit" value="Add Engineer">
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    {% if engineers_list|length < 1 %}
    <h4 style="text-align: center">There are no engineers.</h4>
    {% else %}
    <table class="table table-striped">
        <tr>
            <th>Engineer Name</th>
            <th>Contact</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        {% for e in engineers_list %}
<tr>
    <td>{{ e.engineer_name if e.engineer_name is not none else '' }}</td>
    <td>{{ e.engineer_contact if e.engineer_contact is not none else '' }}</td>
    <td>{{ e.engineer_phone if e.engineer_phone is not none else '' }}</td>
    <td><a class="btn btn-outline-primary btn-sm" href="/engineers/{{ e.engineer_id }}/detail">Details</a></td>
</tr>
{% endfor %}

    </table>
  </div>
  </div>
    {% endif %}
</div>
{% endblock %}
