{% extends 'base.html' %}

{% block head %}
<title>Jobs Master</title>
{% endblock %}

{% block body %}

    <form action="/" method="POST" class="d-flex justify-content-center align-items-center gap-3 my-3">
      <h1 class="m-0">JBI Water - Active Jobs</h1>
      <button type="submit" class="btn btn-outline-primary">Add Job</button>
    </form>

    {% include 'detail_tiles.html' with context %}
  
<div class="row">
    <div class = "col-12">
    {% if jobs_summary|length < 1 %}
    <h4 style="text-align: center">There are no jobs_summary.</h4>
    {% else %}
    <table class="table table-striped">
        <tr>
            <th>Project</th>
            <th>JBI #</th>
            <th>Account</th>
            <th>Market</th>
            <th>Contractor</th>
            <th>Commission at Sale</th>
            <th>Commission Net Due</th>
            <th>Actions</th>
        </tr>
        <form action="/" method="GET">
        <tr>
          <td><input style="width:100%;" type="text" name="project_name" id="project_name"></td>
          <td><input style="width:100%;" type="text" name="jbi_number" id="jbi_number"></td>
          <td><input style="width:100%;" type="text" name="account" id="account"></td>
          <td><input style="width:100%;" type="text" name="market" id="market"></td>
          <td><input style="width:100%;" type="text" name="contractor" id="contractor"></td>
          <td></td>
          <td></td>
          <td>
              <div class="btn-group-vertical">
              <input class="btn btn-outline-primary" type="submit" value="Search"></td>
              </div>
          </td>
          </tr>
          </form>
        {% for js in jobs_summary %}
            <tr>
                <td>{{ js.project_name if js.project_name is not none else '' }}</td>
                <td>{{ js.jbi_number if js.jbi_number is not none else '' }}</td>
                <td>{{ js.account if js.account is not none else '' }}</td>
                <td>{{ js.market if js.market is not none else '' }}</td>
                <td>{{ js.contractor if js.contractor is not none else '' }}</td>
                <td>{{ '%.2f'|format(js.commission_at_sale) if js.commission_at_sale is not none else '' }}</td>
                <td>{{ '%.2f'|format(js.commission_net_due) if js.commission_net_due is not none else '' }}</td>
                <td>
                    <div class="btn-group-vertical">
                    <a class="btn btn-outline-primary" href="/detail/{{js.job_id}}">Detail</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
  </div>
  </div>
    {% endif %}
</div>
{% endblock %}
