{% extends 'base.html' %}

{% block head %}
<title>Jobs Master</title>
{% endblock %}

{% block body %}
<form action="/" method="POST" class="d-flex justify-content-center align-items-center gap-3 my-3">
    <h1 class="m-0">JBI Water - Active Jobs</h1>
    <button type="submit" class="btn btn-outline-primary">Add Job</button>
</form>

{% include 'detail_tiles.html' with context %}
  
<div class="row">
    {% if jobs_summary|length < 1 %}
    <h4 style="text-align: center">There are no jobs in the database.</h4>
    {% else %}
    <table class="table table-striped">
        <tr>
            <th>Project</th>
            <th>JBI #</th>
            <th>Account</th>
            <th>Market</th>
            <th>Contractor</th>
            <th>Commission at Sale</th>
            <th>Commission Net Due</th>
            <th>Actions</th>
        </tr>
        <form action="/" method="GET">
            <tr>
                <td><input class="form-control" type="text" name="project_name" id="project_name" value="{{ filters.get('project_name', '') }}"></td>
                <td><input class="form-control" type="text" name="jbi_number" id="jbi_number" value="{{ filters.get('jbi_number', '') }}"></td>
                <td><input class="form-control" type="text" name="account" id="account" value="{{ filters.get('account', '') }}"></td>
                <td><input class="form-control" type="text" name="market" id="market" value="{{ filters.get('market', '') }}"></td>
                <td><input class="form-control" type="text" name="contractor" id="contractor" value="{{ filters.get('contractor', '') }}"></td>
                <td></td>
                <td></td>
                <td>
                <div class="btn-group-vertical">
                    <input class="btn btn-outline-primary" type="submit" value="Search">
                </div>
                </td>
            </tr>
        </form>
        {% for js in jobs_summary %}
            <tr>
                <td>{{ js.project_name if js.project_name is not none else '' }}</td>
                <td>{{ js.jbi_number if js.jbi_number is not none else '' }}</td>
                <td>{{ js.account if js.account is not none else '' }}</td>
                <td>{{ js.market if js.market is not none else '' }}</td>
                <td>{{ js.contractor if js.contractor is not none else '' }}</td>
                <td>
                    {% if js.commission_at_sale %}
                        $ {{ '%.2f'|format(js.commission_at_sale|float) }}
                    {% else %}
                        $ 0.00
                    {% endif %}
                </td>
                <td>
                    {% if js.commission_net_due %}
                        $ {{ '%.2f'|format(js.commission_net_due|float) }}
                    {% else %}
                        $ 0.00
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group-vertical">
                        <a class="btn btn-outline-primary" href="/detail/{{js.job_id}}">Detail</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</div>
</div>
{% endblock %}
