<form action="/detail/{{ job_detail.job_id }}/edit" method="POST">
  <h2 class="text-center"><button class="btn btn-outline-dark" type="submit">Save</button> Details</h2>
<table class="table table-striped">
    <tbody>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Project Name</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="project_name" id="project_name" value="{{job_detail.project_name if job_detail.project_name is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Account</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="account" id="account" value="{{job_detail.account if job_detail.account is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Reference Contact</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="reference_contact" id="reference_contact" value="{{job_detail.reference_contact if job_detail.reference_contact is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Phone Number</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="phone_number" id="phone_number" value="{{job_detail.phone_number if job_detail.phone_number is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Equipment Description</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="equipment_description" id="equipment_description" value="{{job_detail.equipment_description if job_detail.equipment_description is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">JBI Number</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="jbi_number" id="jbi_number" value="{{job_detail.jbi_number if job_detail.jbi_number is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Market</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="market" id="market" value="{{job_detail.market if job_detail.market is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Status</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="status" id="status" value="{{job_detail.status if job_detail.status is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Contractor</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="contractor_id" id="contractor_id" value="{{job_detail.contractor_id if job_detail.contractor_id is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Order Date</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="order_date" id="order_date" value="{{job_detail.order_date if job_detail.order_date is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Ship Date</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="ship_date" id="ship_date" value="{{job_detail.ship_date if job_detail.ship_date is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Complete</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="complete" id="complete" value="{{job_detail.complete if job_detail.complete is not none else ''}}"></td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Judy Task</td>
            <td style="text-align: left;"><input style="width:100%; color: #000;" class="textbox" type="text" name="judy_task" id="judy_task" value="{{job_detail.judy_task if job_detail.judy_task is not none else ''}}"></td>
        </tr>
    </tbody>
</table>
</form>