<h2 style="text-align: center"><a class="btn btn-outline-dark" href="/detail/{{tasks.job_id}}/edit">Edit</a> Details</h2>
<table class="table table-striped">
    <tbody>
        <tr class="row row-cols-2">
            <td style="text-align: right;">project_name</td>
            <td style="text-align: left;">{{tasks.project_name}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">account</td>
            <td style="text-align: left;">{{tasks.account}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">reference_contact</td>
            <td style="text-align: left;">{{tasks.reference_contact}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">phone number</td>
            <td style="text-align: left;">{{tasks.phone_number}}</td>
        </tr>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">equipment description</td>
            <td style="text-align: left;">{{tasks.equipment_description}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">jbi number</td>
            <td style="text-align: left;">{{tasks.jbi_number}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Market</td>
            <td style="text-align: left;">{{tasks.market}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">status</td>
            <td style="text-align: left;">{{tasks.status}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">contractor</td>
            <td style="text-align: left;">{{tasks.contractor_id}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">order date</td>
            <td style="text-align: left;">{{tasks.order_date}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">ship date</td>
            <td style="text-align: left;">{{tasks.ship_date}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">complete</td>
            <td style="text-align: left;">{{tasks.complete}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">judy_task</td>
            <td style="text-align: left;">{{tasks.judy_task}}</td>
        </tr>
    </tbody>
</table>
