<h2 class="text-center"><a class="btn btn-outline-dark" href="/detail/{{tasks.job_id}}/edit">Edit</a> Details</h2>
<table class="table table-striped">
    <tbody>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Project Name</td>
            <td style="text-align: left;">{{tasks.project_name if tasks.project_name is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Account</td>
            <td style="text-align: left;">{{tasks.account if tasks.account is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Reference Contact</td>
            <td style="text-align: left;">{{tasks.reference_contact if tasks.reference_contact is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Phone Number</td>
            <td style="text-align: left;">{{tasks.phone_number if tasks.phone_number is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Equipment Description</td>
            <td style="text-align: left;">{{tasks.equipment_description if tasks.equipment_description is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">JBI Number</td>
            <td style="text-align: left;">{{tasks.jbi_number if tasks.jbi_number is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Market</td>
            <td style="text-align: left;">{{tasks.market if tasks.market is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Status</td>
            <td style="text-align: left;">{{tasks.status if tasks.status is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Contractor</td>
            <td style="text-align: left;">{{tasks.contractor_id if tasks.contractor_id is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Order Date</td>
            <td style="text-align: left;">{{tasks.order_date if tasks.order_date is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Ship Date</td>
            <td style="text-align: left;">{{tasks.ship_date if tasks.ship_date is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Complete</td>
            <td style="text-align: left;">{{tasks.complete if tasks.complete is not none else ''}}</td>
        </tr>
        <tr class="row row-cols-2">
            <td style="text-align: right;">Judy Task</td>
            <td style="text-align: left;">{{tasks.judy_task if tasks.judy_task is not none else ''}}</td>
        </tr>
    </tbody>
</table>
