<form action="/detail/{{ job_detail.job_id }}/judy_edit" method="POST">
  <h2 class="text-center">
    <button class="btn btn-outline-light" type="submit">Save</button>
    <button class="btn btn-outline-primary"
      type="button"
      onclick="window.location.href='/detail/{{ job_detail.job_id }}';"
    >
      Cancel
    </button>
    Judy Task
  </h2>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>
          <textarea
            name="judy_task"
            id="judy_task"
            rows="8"
            class="form-control"
            style="white-space:pre-wrap;"
          >{{ job_detail.judy_task if job_detail.judy_task is not none else '' }}</textarea>
        </td>
      </tr>
    </tbody>
  </table>
</form>
