<h1 style="text-align: center; height: 100px">Payments</h1>
    <table class="table table-striped">
    <tbody>
    <tr>
        <th>Payment Status</th>
        <th>Note</th>
        <th>Payment Amount</th>
        <th>Payment Date</th>
        <th></th>
    </tr>
    {% for detail in details %}
        <tr>
            <td>{% if detail.paid_status == 0 %}
                Paid
                {% elif detail.paid_status == 1 %}
                Partial-Paid
                {% elif detail.paid_status == 2 %}
                Unpaid
                {% elif detail.paid_status == 3 %}
                In Progress
                {% elif detail.paid_status == 4 %}
                Submitted
                {% elif detail.paid_status == 5 %}
                Re-submittal
                {% elif detail.paid_status == 6 %}
                Approved
            {% else %}
                Bad Data
            {% endif %}</td>
            <td>{{ detail.note }}</td>
            <td>{{ detail.payment_amount }}</td>
            <td>{{ detail.reminder_date }}</td>
            <td> <div class="btn-group-vertical">
                <a class="btn btn-outline-dark" href="/detail/{{tasks.id}}/{{detail.line_id}}">Edit</a>
                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal{{detail.task_detail_id}}">Delete</a>
                </div>
                <div class="container">
                <div class="modal fade" id="modal{{detail.task_detail_id}}">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete the detail?</div>
                        <div class="modal-footer">
                        <form action="/delete/{{tasks.id}}/{{detail.line_id}}" method="POST">
                        <button class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    <form class="form" action="/detail/{{tasks.id}}" method="POST">
        <tr>
            <td>
                <select name="paid_status" id="paid_status">
                    <option value="Unpaid">Unpaid</option>
                    <option value="Partial-Paid">Partial-Paid</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Submitted">Submitted</option>
                    <option value="Re-Submittal">Re-Submittal</option>
                    <option value="Approved">Approved</option>
                </select>
            </td>
            <td><input style="width:100%" class="textbox" type="text" name="detailll" id="detailll"></td>
            <td><input style="width:100%" class="textbox" type="number" name="payment_amount" id="payment_amount"></td>
            <td><input class="textbox" type="date" name="reminder_date" id="reminder_date"></td>
            <td><input class="btn btn-outline-primary" type="submit" value="Add"></td>
        </tr>
    </form>
    </tbody>
    </table>