{% extends 'base.html' %}

{% block head %}
<title>Edit Sales - {{ sales.sales_name }}</title>
{% endblock %}

{% block body %}
<form action="/sales/{{ sales.sales_id }}/detail" method="POST">
    {% include 'includes/_toolbar.html' with context %}
    <div class="row">
    <div class = "col-12">
        {% include 'detail_tiles.html' with context %}
      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="col-auto">
            
          
    <table class="table table-borderless align-middle">
            <tbody>
              <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Phone</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" name="sales_name" id="sales_name" value="{{ sales.sales_name or '' }}" required></td>
                <td><input class="form-control" type="text" name="sales_contact" id="sales_contact" value="{{ sales.sales_contact or '' }}"></td>
                <td><input class="form-control" type="text" name="sales_phone" id="sales_phone" value="{{ sales.sales_phone or '' }}"></td>
          </tr>
          </tbody>
          </table>
        
          </div>
        </div>
      </div>
      </div>
      </div>
</form>
<div class="row">
    <div class = "col-12">
    <table class="table table-striped">
        <tr>
            <th>Project</th>
            <th>JBI #</th>
            <th>Account</th>
            <th>Market</th>
            <th>Contractor</th>
            <th>Commission at Sale</th>
            <th>Commission Net Due</th>
            <th>Job Percentage</th>
            <th>Actions</th>
        </tr>
        <form action="/sales/{{ sales.sales_id }}/detail" method="GET">
            <tr>
                <td><input class="form-control" type="text" name="project_name" id="project_name" value="{{ filters.get('project_name', '') }}"></td>
                <td><input class="form-control" type="text" name="jbi_number" id="jbi_number" value="{{ filters.get('jbi_number', '') }}"></td>
                <td><input class="form-control" type="text" name="account" id="account" value="{{ filters.get('account', '') }}"></td>
                <td><input class="form-control" type="text" name="market" id="market" value="{{ filters.get('market', '') }}"></td>
                <td><input class="form-control" type="text" name="contractor" id="contractor" value="{{ filters.get('contractor', '') }}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group-vertical">
                        <input class="btn btn-outline-primary" type="submit" value="Search">
                    </div>
                </td>
            </tr>
        </form>
    {% for job, pct in jobs_summary %}
<tr class="{% if job.commission_net_due and job.commission_net_due|float == 0 %}table-success{% endif %}">
    <td>{{ job.project_name or '' }}</td>
    <td>{{ job.jbi_number or '' }}</td>
    <td>{{ job.account or '' }}</td>
    <td>{{ job.market or '' }}</td>
    <td>{{ job.contractor or '' }}</td>

    <td>
        {% if job.commission_at_sale %}
            ${{ '%.2f'|format((job.commission_at_sale|float) * (pct|float / 100)) }}
        {% else %}
            $0.00
        {% endif %}
    </td>

    <td>
        {% if job.commission_net_due %}
            ${{ '%.2f'|format((job.commission_net_due|float) * (pct|float / 100)) }}
        {% elif job.commission_at_sale %}
            ${{ '%.2f'|format((job.commission_at_sale|float) * (pct|float / 100)) }}
        {% else %}
            $0.00
        {% endif %}
    </td>

    <td>{{ '%.2f'|format(pct|float) if pct else '0.00' }}%</td>
    <td><a class="btn btn-outline-primary" href="/detail/{{ job.job_id }}">Detail</a></td>
</tr>
{% endfor %}
    </table>
    </div>
</div>
{% endblock %}